.about {
  text-align: justify;
  display: grid;
  place-items: center;
  place-content: center;
  height: 100%;
  container-type: inline-size;
  container-name: aboutContainer;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    display: none;
  }
  .logo-container {
    overflow: hidden;
    img {
      border-radius: 50%;
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
  .fullname {
    font-weight: 600;
    text-align: center;
    display: flex;
    gap: 0.25rem;
    h3 {
      margin: 0;
      .nick {
        color: var(--accented);
        font-weight: 400;
      }
    }
  }
  .description {
    margin-top: 1rem;
    font-size: 0.9rem;
    width: max(450px, 70%);
    .small {
      font-size: 0.8rem;
      display: none;
    }
  }
  .social-links {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    a {
      text-decoration: none;
    }

    .icon {
      text-decoration: none;
      color: var(--text);
      transition: color 0.2s ease-in-out;
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
      user-select: none;
      &:hover {
        color: var(--accented);
      }
    }
  }
  .contact-button {
    a {
      display: block;
      margin-top: 1rem;
      padding: 0.5rem 2rem;
      border: 0;
      border-radius: 0.5rem;
      font-weight: 500;
      font-size: 0.9rem;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
      text-decoration: none;
      text-align: center;
      background-color: var(--accented);
      color: var(--dark-text);
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media screen and (max-height: 850px) {
  .about {
    .fullname {
      font-size: 1rem;
    }
    .description {
      margin-top: 0;
      .large {
        display: none;
      }
      .small {
        display: block;
        font-size: 0.7rem;
      }
    }
    .social-links {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .about {
    h2 {
      display: block;
    }
    .fullname {
      display: block;
      .name {
        .nick {
          display: inline;
        }
      }
    }
    .description {
      width: 100%;
      .large {
        display: block !important;
      }
      .small {
        display: none !important;
      }
    }
    .social-links {
      margin-top: 1rem;
    }
    .contact-button {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
}

@container aboutContainer (max-width: 530px) {
  .about {
    .fullname {
      display: block;
    }
    .description {
      width: 100%;
      .large {
        display: none;
      }
      .small {
        display: block;
        text-align: center;
      }
    }
    .social-links {
      gap: 1rem;
    }
  }
}
