<section class="about">
  <!-- img logo -->
  <h2>Sobre mi</h2>
  <section class="logo-container">
    <img
      width="180px"
      height="180px"
      src="/assets/images/logo.jpg"
      alt="Xilerth Logo"
    />
  </section>
  <section class="fullname">
    <h3 class="name">Luis <span class="nick">(Xilerth)</span></h3>
    <h3 class="surname">Hernández Morales</h3>
  </section>
  <section class="description">
    <p class="large">
      Soy un
      <span class="highlighted">Desarrollador frontend</span> apasionado y
      altamente motivado con
      <span class="highlighted">5 años de experiencia</span>. Me encanta
      trabajar en proyectos desafiantes y emocionantes, estoy comprometido a
      <span class="highlighted"
        >crear experiencias web impresionantes y de alta calidad</span
      >
      para los usuarios.
    </p>
    <p class="small">
      <span class="highlighted">Desarrollador frontend</span> con
      <span class="highlighted">5 años de experiencia</span>, comprometido a
      <span class="highlighted"
        >crear experiencias web impresionantes y de alta calidad</span
      >
    </p>
  </section>
  <section class="social-links">
    <!-- link twitter, twitch, github, knownet -->
    <a
      href="https://twitter.com/xilerth"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fa-brands fa-twitter icon"></i
    ></a>
    <a
      href="https://www.twitch.tv/xilerth"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fa-brands fa-twitch icon"></i
    ></a>
    <a
      href="https://www.github.com/xilerth"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fa-brands fa-github icon"></i
    ></a>
    <a
      href="https://knownet.xilerth.com/profile/PQe8jYPvIoPM0q8hiUWpJfKJwUN2"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="xwf-logo-knownet--36 icon"></i>
    </a>
  </section>

  <section class="contact-button">
    <a href="mailto:xilerth@gmail.com">
      <span class="label">Contactame</span>
    </a>
  </section>
</section>
