<header>
  <!-- <h1>Xilerth</h1> -->
  <ul class="menu">
    <li routerLink="about">
      <a routerLinkActive="active"
        ><i class="fa-solid fa-address-card icon"></i>
        <span class="label"> Sobre mi </span>
      </a>
    </li>
    <li routerLink="porfolio">
      <a routerLinkActive="active">
        <i class="fa-solid fa-briefcase icon"></i
        ><span class="label"> Porfolio </span></a
      >
    </li>
    <li routerLink="skills">
      <a routerLinkActive="active"
        ><i class="fa-solid fa-wand-magic-sparkles icon"></i
        ><span class="label">Capacidades </span></a
      >
    </li>
  </ul>
</header>
